.ProfileConfigurePane {
    background: @control-bg;
    color: @control-color;
    min-height: 100vh;
    padding: 20px 0;

    fieldset.Field {
        padding: 5px;
        background: @body-bg;
        border-radius: @border-radius;

        legend {
            margin: 10px;
            width: 100%;

            .Field-toggle {
                cursor: pointer;
            }
        }

        .Field-body {
            display: none;
        }

        &.active .Field-body {
            display: block;
        }
    }

    @media @desktop-up {
        .container {
            max-width: 600px;
            margin: 0;
        }
    }
}
