.ProfileConfigurePane {
    background: @body-bg;
    color: @control-color;
    min-height: 100vh;
    padding: 20px 0;
    fieldset.Field {
        padding: 5px;
        background: @control-color;
        border-radius: @border-radius;
		margin-bottom: 15px;
        legend {
			margin: -5px;
            width: 102%;
			background: @control-bg;
			border-radius: @border-radius;
            > span {
				padding-left: 13px;
                cursor: pointer;
			}
        }
        > ul {
            margin-bottom: 30px;
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;
            > li {
                margin: 8px 0;
                display: block;
                > label {
                    font-weight: bold;
					color: @control-bg;
                }
				> span {
					color: @control-bg;
                }
            }
        }
        &.new > ul, &.active > ul {
            display: block;
        }
    }
    @media @desktop-up {
        .container {
            max-width: 600px;
            margin: 0;
        }
    }
}
