.ProfileConfigurePane {
    fieldset.Field {
        padding: 0.8rem 1rem;
        background: var(--body-bg);
        border-radius: var(--border-radius);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        margin-top: 20px;

        legend {
            .Field-toggle {
                cursor: pointer;
                margin-left: 1em;
                background: var(--body-bg);

                .icon {
                    margin-left: 0.3em;
                }
            }
        }


        .Field-body {
            display: none;

            .Form-group:not(:last-child) {
                margin-bottom: 1em;
            }
        }

        &.active .Field-body {
            display: block;
        }
    }

    @media @desktop-up {
        .container {
            max-width: 600px;
            margin: 0;
        }
    }
}
