.Masquerade-Bio {
    .Masquerade-Bio-Set {
        width: 100%;

        .Masquerade-Bio-Field {
            display: inline-block;
            padding: .1em .2em;
            font-weight: bold;
            min-width: 30%;
        }

        .Masquerade-Bio-Answer {
            display: inline-block;
            width: 50%;
        }
    }
}

.Masquerade-NowCompleted {
    display: inline-block;
    margin-left: 20px;
}
